@media screen and (max-width: 1200px){
    .paper-body .conteiner .wall-paper .box-product .row-product{
        display: block;
        text-align: center;
    }
    
    .paper-body .conteiner .wall-paper .box-product .product{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 870px){
    *{
        text-decoration: none;
    }
    
    .navbar-menu .navbar-body .navbar-nav{
        display: none;
        float: none;
        right: 0px;
    }
    
    .navbar-menu .navbar-nav li{
        text-align: justify;
    }
    
    .navbar-menu .navbar-nav li a{
        padding: 0px 30px;
    }
    
    .navbar-menu .navbar-nav li img{
        position: relative;
        float: right;
        top: 40px;
    }
    
    .navbar-menu .navbar-nav .Active ul li a{
        background: #DFD;
    }
    
    .navbar-menu .navbar-nav li ul li a{
        padding: 0px 40px;
        border-left: 0px solid;
        border-right: 0px solid;
    }
    
    .navbar-menu .navbar-body .navbar-responsive{
        display:block;
        position: absolute;
        text-align: right;
        line-height: 71px;
        z-index: 1;
        padding-right: 60px;
        right: 0;
        width: 100%;
        border-bottom: 1px solid #999;
    }
    
    .navbar-menu .navbar-body .navbar-nav li{
        display: block;
        width: 100%;
    }
    
    .navbar-menu .navbar-logo{
        line-height: 50px;
    }
    
    .navbar-menu{
        height: 131px;
    }
    
    .navbar-menu .navbar-logo img{
        width: 200px;
    }
    
    .navbar-menu .navbar-body .navbar-responsive img{
        position: relative;
        left: 5px;
        top: 5px;
        width: 20px;
    }
    
    .paper-body .conteiner .wall-paper .info-content-1{
        display: block;
    }
    
    .paper-body .conteiner .wall-paper .info-content-1 .col-3{
        margin: 0px 0px;
        padding: 40px 0px;
    }
    
    .paper-body .conteiner .wall-paper .info-content-1 .col-9{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    
    .paper-body .conteiner .wall-paper .info-content-1 .col-9 p{
        padding: 0px 20px;
    }
    
}

@media screen and (max-width: 809px){
    .paper-body .conteiner .wall-paper .box-product .product img{
        width: 300px;
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 450px){
    .paper-body .conteiner .wall-paper .box-product .product{
        padding: 20px 0px;
        margin: 0px;
        width: 100%;
    }
    
    .navbar-menu .navbar-body .navbar-responsive{
        padding-right: 41px;
    }
    
    .paper-body .conteiner .wall-paper .box-product h2{
        padding: 20px 20px;
    }
    
    .paper-body .conteiner .wall-paper .box-product .more-product{
        min-width: 100px;
        right: 20px;
    }
    
    .paper-body .conteiner .wall-paper .info-content-1 .col-3 img{
        width: 300px;
    }
}
@media screen and (max-width: 320px){
    
}