*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Calibri;
}

html, body{
    width: 100%;
    height: 100%;
}

.social-menu{
    position: fixed;
    display: inline;
    bottom: 30px;
    left: -250px;
    border: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #FFF;
    width: 350px;
    height: 150px;
    transition: 400ms;
    box-shadow: inset 0px 0px 10px -3px #999;
    opacity: 0.5;
}

.social-menu .icon-social{
    width: 100%;
}

.social-menu .icon-social a{
    position: relative;
    left: 0px;
    transition: 200ms;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.social-menu .icon-social a span{
    font-family: Calibri;
    position: relative;
    bottom: 13px;
}

.social-menu .icon-social .test{
    padding: 4px 0px;
    position: relative;
    left: 280px;
    display: inline-block;
    transition: 400ms;
}

.main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-menu{
    background: #FFF;
    height: 149px;
    z-index: 1;
    border-bottom: 1px solid #999;
    box-shadow: 0px 0px 10px 0px #555;
}

.navbar-menu .navbar-nav{
    background: red;
    display: inline-flex;
    position: relative;
    right: 80px;
}

.navbar-menu .navbar-body .navbar-responsive{
    color: #000;
    display: none;
}

.navbar-menu .navbar-nav li img{
    position: relative;
    top: 4px;
}

.navbar-menu .navbar-nav li{
    display: inline-grid;
    background: #FFF;
    width: 130px;
    text-align: center;
    line-height: 89px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-menu .navbar-nav li a{
    color: #000;
    background: #FFF;
    border-bottom: 1px solid #999;
    display: block;
    transition: 200ms;
}

.navbar-menu .navbar-nav .Active a{
    background: #5F5;
}

.navbar-menu .navbar-nav .Active ul li a{
    background: #FFF;
}

.navbar-menu .navbar-nav li a:hover{
    background: #8F8;
}

.navbar-menu .navbar-nav li ul li{
    line-height: 50px;
    display: block;
}

.navbar-menu .navbar-nav li ul{
    display: none;
}

.navbar-menu .navbar-nav li ul li a{
    display: block;
    border-left: 1px solid;
    border-right: 1px solid;
    background: #FFF;
    transition: 200ms;
}

.navbar-menu .navbar-nav li ul li a:hover{
    background: #AFA;
}

.navbar-menu .navbar-logo{
    background: #FFF;
    display: inline-block;
    text-align: center;
}

.navbar-menu .navbar-logo a{
    position: relative;
    z-index: 1;
}

.navbar-menu .navbar-header{
    display: block;
    line-height: 50px;
    border-bottom: 5px solid #FFF;
    font-size: 20px;
    color: #FFF;
    background: linear-gradient(to bottom, #AFA 0%, #4F4 100%);
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-menu .navbar-body{
    border-top: 5px solid #5F5;
}

.paper-body{
    display: flex;
    flex-direction: row;
    height: 0%;
    flex-grow: 1;
    justify-content: center;
}

.paper-body .conteiner{
    max-width: 1500px;
    width: 100%;
    height: 100%;
    border-left: 1px solid #999;
    border-right: 2px solid #999;
    overflow-y: scroll;
    background-image: url(../img/Leaft.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100% 500px;
}

.paper-body .conteiner .window{
    height: 480px;
    background: none;
    text-align: center;
}

.paper-body .conteiner .window .overflow-button{
    background: linear-gradient(to bottom, #AFA 0%, #6F6 100%);   
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 400px;
    padding: 20px 24px;
    border-radius: 1000px;
    border: 3px solid #4D4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 100ms;
    box-shadow: 0px 5px 10px -2px #000
}

.paper-body .conteiner .window .overflow-button:active{
    background: linear-gradient(to bottom, #6F6 0%, #AFA 100%);
    top: 402px;
    box-shadow: 0px 0px 1px 0px #000
}

.paper-body .conteiner .wall-paper{
    width: 100%;
    height: auto;
    background: #FFF;
}

.paper-body .conteiner .wall-paper .div-row-1{
    background: linear-gradient(to bottom, #FFF 0%, #4F4 100%);
    height: 60px;
}

.paper-body .conteiner .wall-paper .info-content-1{
    background: #4F4;
    display: flex;
}

.paper-body .conteiner .wall-paper .info-content-1 .col-3{
    margin: 50px 0px;
    text-align: center;
    padding: 0px 30px;
    display: block;
}

.paper-body .conteiner .wall-paper .info-content-1 .col-3 img{
    position: relative;
}

.paper-body .conteiner .wall-paper .info-content-1 .col-9{
    font-size: 20px;
    color: #FFF;
    padding: 40px;
    width: 100%;
    text-align: justify;
}

.paper-body .conteiner .wall-paper .div-row-2{
    background: linear-gradient(to bottom, #4F4 0%, #FFF 100%);
    height: 60px;
}

.paper-body .conteiner .wall-paper .box-product{
    position: relative;
    transition: 200ms;
}

.paper-body .conteiner .wall-paper .box-product h2{
    padding: 20px 80px;
}

.paper-body .conteiner .wall-paper .box-product .more-product{
    position: absolute;
    padding: 30px 0px;
    right: 80px;
}

.paper-body .conteiner .wall-paper .box-product .more-product a{
    padding: 10px 30px;
    background: linear-gradient(to bottom, #9F9 0%, #6F6 100%);
    color: #FFF;
}

.paper-body .conteiner .wall-paper .box-product .row-product{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 0px 0px;
}

.paper-body .conteiner .wall-paper .title-product{
    display: block;
}

.paper-body .conteiner .wall-paper .box-product .product{
    display: inline-block;
    width: 400px;
}

.paper-body .conteiner .wall-paper .box-product .product img{
    border: 1px solid #666;
    position: relative;
    bottom: 0px;
    display: inline-block;
    width: 400px;
    transition: 200ms;
}

.paper-body .conteiner .wall-paper .box-product .product a{
    color: #00F;
    transition: 200ms;
}

.paper-body .conteiner .wall-paper .box-product .product a:hover{
    color: #F00;
}

.paper-body .conteiner .wall-paper .box-product .product a:hover img{
    position: relative;
    color: #F00;
    bottom: 10px;
}

.paper-body .conteiner .wall-paper .product span{
    text-align: center;
    display: block;
}

.paper-body .conteiner .foother{
    height: 400px;
    background: #666;
    color: #FFF;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #438EB9;
  border: 58px none #ffffff;
  border-radius: 53px;
}
::-webkit-scrollbar-thumb:hover {
  background: #438EB9;
}
::-webkit-scrollbar-thumb:active {
  background: #438EB9;
}
::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-track:hover {
  background: #cecece;
}
::-webkit-scrollbar-track:active {
  background: #c7c7c7;
}
::-webkit-scrollbar-corner {
  background: transparent;
}