<div class="navbar-menu">
  <div class="navbar-header">
      <p>Por un planeta mas limpio</p>
  </div>
    <div class="navbar-body"><a href="#" class="navbar-responsive">Menu<img src="../../img/icon-menu.png"/></a>
       <div class="navbar-logo">
           <a href="../../index.php"><img src="../../img/img-logo.png" width="238px" style="position: relative; left: 20px;"/></a>
       </div>
        <ul class="navbar-nav">
           <li><a href="../../index.php">Inicio</a></li
            ><li><a href="#">Productos <img src="../../img/arrow-expand.png" width=15px/></a>
               <ul>
                   <li><a href="../../html-php/mostrar-db/product-Tierra.php">Tierra</a></li>
                   <li><a href="../../html-php/mostrar-db/product-Lombrices.php">Lombrices</a></li>
                   <li><a href="../../html-php/mostrar-db/product-Liquidos.php">Liquidos</a></li>
               </ul>
           </li
           ><li><a href="#">Acerca de <img src="../../img/arrow-expand.png" width=15px/></a>
               <ul>
                   <li><a href="#">Nuestra empresa</a></li>
                   <li><a href="#">Medios de pago</a></li>
                   <li><a href="#">Politicas</a></li>
               </ul>
           </li
           ><li><a href="#">Contactanos</a></li>
       </ul>
    </div>
</div>